<div id="footer" class="container-fluid d-flex flex-column flex-sm-row justify-content-center align-items-center">
    <div class="container-fluid d-flex flex-column flex-fill">
        <img src="./sherwood.webp" alt="logo" width="130" height="70">
        <p>Trust the experts. Let us handle your mortgage transaction today. Over 90+ years of industry experience</p>
    </div>
    <div class="container-fluid d-flex flex-column flex-fill">
        <a  class="flex-fill" href="tel:+14165588703">
            <i class="bi bi-telephone-fill"></i>
            <span class=""> (416)558-8703</span>
        </a>
        <a class="flex-fill" href="mailto:dina.ddossantos@gmail.com">
            <figure class="figure text-center">
                <i class="bi bi-envelope"></i>
                <span> dina.ddosantos&#64;gmail.com</span>
            </figure>
        </a>
        <a class="flex-fill" href="https://www.google.com/maps/dir/?api=1&destination=1275 Finch Ave W, Toronto, ON" target="_blank">
            <i class="bi bi-pin-map-fill"></i>
            <span>1275 Finch Ave W, Toronto, ON</span>

        </a>
        
    </div>
</div>