<div class="container-fluid d-flex flex-row justify-content-center">
    <div class="parent align-self-center">
        <span class="diamond"></span>
        <span class="diamond2"></span>
        <span class="diamond3"></span>

    </div>
    <h1 class="text-center red">About Me</h1>
    <div class="parent align-self-center reverse">
        <span class="diamond"></span>
        <span class="diamond2"></span>
        <span class="diamond3"></span>

    </div>
        
</div>
<div class="container-fluid text-center d-flex flex-wrap flex-sm-row flex-column">
    <div id="photo" class="container-fluid">
        <img src="./picture.jpg">
    </div>
    <div id="info" class="container-fluid">
        <p class="red">Dina Dos Santos</p>
        <p><span class="blue">Spoken Languages: </span>English, Portuguese</p>
        <p><i class="bi bi-telephone-fill red"></i> 416.558.8703</p>
        <p><i class="bi bi-envelope red"></i> dina.dossantos&#64;gmail.com</p>
    </div>
    <div class="container-fluid d-flex flex-sm-row flex-column">
        <a class="btn btn-danger m-2 justify-content-center" routerLink="/">Apply Now</a>
        <a class="btn btn-danger m-2 justify-content-center" routerLink="/contact">Email Me</a>
    </div>
    
</div>
