.diamond {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: red;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 3;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 19px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: red;
}
.diamond2 {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: rgb(255, 78, 78);
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 2;
}
.diamond2:after {
    content: '';
    position: absolute;
    left: -15px;
    top: 14px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgb(255, 78, 78);
}
.diamond3 {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: rgb(255, 129, 129);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.diamond3:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 9px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: rgb(255, 129, 129);
}
.parent{
    display: inline-block;
    position: relative;
    height: 40px;
    width: 60px;
}
.reverse{
    rotate: 180deg;
}
h1{
    margin: 0;
}

.red{
    color: Red;
}
.blue{
    color: rgb(115, 115, 202)
}

#photo, #info{
    width: 50%;
}
#info{
    padding: 10px;
}
@media screen and (max-width: 576px){
    #photo, #info{
        width: 90%;
    }
}

#info{
    text-align: left;
}
img{
    max-width: 90%;
}
.btn{
    max-width: 200px;
    margin:auto;
}