<div class="container-fluid d-flex flex-row justify-content-center">
    <div class="parent align-self-center">
        <span class="diamond"></span>
        <span class="diamond2"></span>
        <span class="diamond3"></span>

    </div>
    <h1 class="text-center">Let's <span class="red">Connect</span></h1>
    <div class="parent align-self-center reverse">
        <span class="diamond"></span>
        <span class="diamond2"></span>
        <span class="diamond3"></span>

    </div>
        
</div>
<div class="container-fluid text-center">
    <p class="h4 grey">Chose the most convienent method to get in touch with me from below.</p>
    <div class="container-fluid d-flex flex-sm-row flex-column">
        <a class="flex-fill" href="tel:+14165588703">
            <figure class="figure text-center">
                <div class="icon-wrap"> 
                    <i class="bi bi-telephone-fill h1 figure-img"></i>
    
                </div>
                <p>Call Me</p>
                <p class="figure-caption">416.588.8703</p>
            </figure>
        </a>
        <a class="flex-fill">
            <figure class="figure text-center">
                <div class="icon-wrap"> 
                    <i class="bi bi-lock-fill h1 figure-img"></i>
    
                </div>
                <p >Apply Now</p>
                <p class="figure-caption">Let us help you get a better rate o your mortgage</p>
            </figure>
        </a>
        <a class="flex-fill" href="mailto:dina.ddossantos@gmail.com" target="_blank">
            <figure class="figure text-center">
                <div class="icon-wrap"> 
                    <i class="bi bi-envelope h1 figure-img"></i>
    
                </div>
                <p>Email Me</p>
                <p class="figure-caption">dina.dossantos&#64;gmail.com</p>
            </figure>

        </a>
        <a class="flex-fill" href="https://www.google.com/maps/dir/?api=1&destination=1275 Finch Ave W, Toronto, ON" target="_blank">
            <figure class="figure text-center">
                <div class="icon-wrap"> 
                    <i class="bi  bi-pin-map-fill h1 figure-img"></i>
    
                </div>
                <p>Address</p>
                <p class="figure-caption">
                    <i class="bi bi-pin-map-fill"></i>
                    1275 Finch Ave W, Toronto, ON
                </p>
            </figure>
        </a>
        
    </div>
</div>