.test{
    background-color: blue;
}
.figure-caption{
    color: white;
}

#top{
    background-color: red;
    color: white;
    padding: 2px;
}
#bottom{
    background-color: black;
    color: white;
    padding: 2px;
}
#banner{
    padding: 0px;
}

figure{
    color:white;
    width: 100%;
    height: 100%;
}

a figure i {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
a:hover figure i {
    top: -10px;
}