<div id="banner" class="container-fluid">
    <div id="top" class="container-fluid"> 
        <p class="text-center">Welcome</p>
        <h1 class="text-center">Dina Dos Santos</h1>
    </div>
    <div id="bottom" class="d-flex flex-sm-row flex-column">
        <a class="flex-fill " [routerLink]="'.'">
            <figure class="figure text-center">
                <i class="bi bi-lock-fill h1 figure-img"></i>
                <p class="figure-caption">Apply Now</p>
            </figure>
        </a>
        <a class="flex-fill" [routerLink]="'.'">
            <figure class="figure text-center">
                <i class="bi bi-telephone-fill h1 figure-img"></i>
                <p class="figure-caption">Call Me</p>
            </figure>
        </a>
        <a class="flex-fill" [routerLink]="'.'">
            <figure class="figure text-center">
                <i class="bi bi-envelope h1 figure-img"></i>
                <p class="figure-caption">Email Me</p>
            </figure>
        </a>

    </div>
    <div id="image">
        <img src="./picture.jpg" alt="logo" width="100" height="100">
    </div>
</div>