<div class="container-fluid">
    <app-wheel></app-wheel>
    <div class="container-fluid d-flex flex-xl-row flex-column mt-2">
        <div class="flex-fill d-flex flex-row">
            <div class="parent">
                <span class="text-center filler"><i class="bi bi-calculator-fill"></i></span>
                <span class="mid"></span>
                <span class="bot"></span>

            </div>
            <div class="container-fluid flex-fill">
                <p class="h2">Mortage Calculations</p>
                <p>Book an appointment to better plan for and understand your financial goals and lifestyle needs. We have years of experience with meating your needs!</p>
            </div>
            
        </div>
        <div class="flex-fill d-flex flex-row">
            <div class="parent">
                <span class="text-center filler"><i class="bi bi-suitcase-lg-fill"></i></span>
                <span class="mid"></span>
                <span class="bot"></span>

            </div>
            <div class="container-fluid flex-fill">
                <p class="h2">Other Services</p>
                <p>In addition to helping you get approved for a mortgage transaction,we offer help with a variety of related products such as insurance, loans, and investment services designed to best serve your financial needs in addition to other mandatory obligations.</p>
            </div>
            
        </div>
        <div class="flex-fill d-flex flex-row">
            <div class="parent">
                <span class="text-center filler"><i class="bi bi-info-circle-fill"></i></span>
                <span class="mid"></span>
                <span class="bot"></span>

            </div>
            <div class="container-fluid flex-fill">
                <p class="h2">About Me</p>
                <p>We're here to serve your mortgage needs and have what it takes to make a difference in your next mortgage transaction.</p>
            </div>
            
        </div>
 
        
    </div>
</div>