<div class="container-fluid">
    <app-wheel></app-wheel>
    <div class="container-fluid d-flex flex-sm-row flex-column mt-2">
        <div class="flex-fill d-flex flex-row">
            <div class="parent">
                <span class="text-center filler"><i class="bi bi-calculator-fill"></i></span>
                <span class="mid"></span>
                <span class="bot"></span>

            </div>
            <div class="container-fluid flex-fill">
                <p class="h2">Mortage Calculations</p>
                <p>Book an appointment to better plan for and understand your financial goals and lifestyle needs. We have years of experience with meating your needs!</p>
            </div>
            
        </div>
        
    </div>
</div>