.filler{
    background-color: black;
    color: white;
    height: 40px;
    width:40px;
    padding-top: 2px;


}
.bot{
    top: 60px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid red;

    z-index: 1;
}
.mid{
    top: 40px;
    background-color: red;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;

    z-index: 2;
}
.mid, .bot{
    width: 0; 
    height: 0px;
    padding: 0px;
    margin: 0px;
    
}
.filler, .mid, .bot{
    position: absolute;
}

.parent{
    position: relative;
    width: 40px;
    height: 100%;
}